server:
  port: 8181
spring:
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/webservicedb?autoReconnect=true&verifyServerCertificate=false&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: administrator
    password: password
    hikari:
      maximum-pool-size: 10
    tomcat:
      max-wait: 20000
      max-active: 50
      max-idle: 20
      min-idle: 15
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        id:
          new_generator_mappings: false
        format_sql: true
logging:
  level:
    com:
      perso:
        customvalidation: DEBUG
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
      springframework:
        web: DEBUG
        boot: DEBUG

